#rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .star {
        flex: 0 0 50px;
        margin: 10px;

        cursor: pointer;

        svg {
            width: 50px;
        }
        svg path {
            stroke: rgb(0,51,141);
            fill: transparent;

            transition: .5s ease;
        }
       
        &:hover svg path {
            fill: yellow;
        }
    }
    .highlight  {
        animation-name: embiggen;
        animation-duration: 1s;
            svg path {
            fill: lightblue;
     
        
    }
    }

    
}


@keyframes embiggen {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}